<!DOCTYPE html>
  <html>
    <head>
    <title>{{title}}</title>
      
    <!--Import Google Icon Font, include ICON-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
  </head>
  <body>
  <div class="navbar-fixed">
          <nav>
            <div class="nav-wrapper white">
              <ul id="nav" class="left hide-on-med-and-down">
                <li><a href="categories.html" class="black-text">Categories</a></li>
                <li><a href="forum.html" class="black-text">Forum</a></li>
                <li><a href="archive.html" class="black-text">Archive</a></li>
              </ul>
            </div>
          </nav>
        </div>

      <!--INSERT CONTENT HERE-->
        <div class="container">
        <!-- Page Content goes here -->
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row">
            <div class="col s8 offset-s3"><h1>Help_Desk Title</h1></div>
          </div>
          <form  id="search_form" class="" action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
            <div class="input-field">
              <input id="main_search" name="main_search" class="form-control" type="text" autofocus="">
              <button id="search" type="search" name="button">Search</button>
              <br/>
            </div>
          </form>
        </div>

        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>

        <div class="row">

          <div class="col s4 offset-s1">
            <!-- Promo Content 1 goes here -->
            <ul class="left hide-on-med-and-down">
              <li><a href="contact.html" class="black-text">Contact Us</a></li>
            </ul>
          </div>
           <div class="col s4">
            <!-- Promo Content 2 goes here -->
          </div>
          <div class="col s4">
            <!-- Promo Content 2 goes here -->
            <ul class="right hide-on-med-and-down">
              <li><a href="#" class="black-text">Want to become a moderater?</a></li>
            </ul>
          </div>

        </div>
        
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
