<!DOCTYPE html>
<html>
	<head>
		{{title}}
	</head>
	<body>
  	<div>
	Who is the kiklest?
		<ul>
	  		{{#each foods}}
	  			<li>{{this.name}}
	  			<p>{{this.location}}</p></li>
	  			<br>
			{{/each}}
		</ul>
  	</div>
	</body>
</html>
